#list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    list-style: none;
}

.box{
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    background-color: brown;
    margin: 10px;
}

.fizzBox{
    background-color: salmon;
}

.buzzBox {
    background-color: darkslategrey;
}

.fizzBuzzBox {
    background-color: darkturquoise;
}